body {
    background: #E5E5E5;
}
.header_logo {
    width: 105px;
    height: 40px;
    margin-left: 140px;
    vertical-align: middle
}
.header_main {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    left: 0;
    top: 140px;
    background: #FFFFFF;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}
.header_authorised {
    position: absolute;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    left: 0;
    top: 140px;
    background: #FFFFFF;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}
.header_navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 21px;
    list-style-type:none;
    width: 770px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
    margin-right: 140px;
}
.header_navigation_authorised {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    list-style-type:none;
    width: 588px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
    margin-right: 140px;
    flex-wrap: nowrap;
}
.header_navigation_about{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.75);
}
.arrow_down {
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    color: rgba(31, 32, 65, 0.5);

}
.rectangle {
    width: 1px;
    height: 30px;
    background: rgba(31, 32, 65, 0.1);
}

.enter {
    box-sizing: content-box;
    width: 87px;
    height: 34px;
    border-radius: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
    border: 2px solid #BC9CFF;
    background: inherit;

}

.registration {
    box-sizing: content-box;
    width: 196px;
    height: 34px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-width: 0;
}